// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
.no-js {
  visibility: hidden;
  opacity: 0;
}

.js {
  visibility: visible;
  opacity: 1;
}
