// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.has-text-center {
  text-align: center;
}

.is-visibility-visible {
  visibility: visible;
}

.is-visibility-hidden {
  visibility: hidden !important;
}

.is-block {
  display: block !important;
}
