/**
 * Basic typography style for copy text
 */

body,
input {
  font-family: 'VisbyCF-Medium', Helvetica, Arial, Sans-Serif;
  font-weight: normal !important;
}

strong,
b {
  font-family: 'VisbyCF-Bold', Helvetica, Arial, Sans-Serif;
  font-weight: normal !important;
}

small {
  font-family: 'VisbyCF-Light', Helvetica, Arial, Sans-Serif;
  font-weight: normal !important;
}

label {
  font-family: 'VisbyCF-DemiBold', Helvetica, Arial, Sans-Serif;
  font-weight: normal !important;
}

address, button {
  font-family: 'VisbyCF-Medium', Helvetica, Arial, Sans-Serif;
  font-weight: normal !important;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'VisbyCF-Bold', Helvetica, Arial, Sans-Serif;
  font-weight: normal !important;
}
