// -----------------------------------------------------------------------------
// This file contains all styles related to the box component.
// -----------------------------------------------------------------------------
.icons-box {
  .fa-stack i:nth-child(2) {
    margin-left: 3px;
  }
  .icon {
    margin-right: 0.3rem;
  }
  a {
    color: $dark;
    &:hover {
      color: $primary;
    }
  }
}
