.faq {
  @extend .card;
  overflow: hidden;
  margin-bottom: 1.2rem;
  &--question {
    @extend .card-header;
    &:hover {
      cursor: pointer;
    }
  }
  &--question-title {
    @extend .card-header-title;
  }
  &--icon {
    @extend .card-header-icon;
  }
  &--answer {
    height: 0;
  }
  &--answer-text {
    @extend .card-content;
  }
  &.is-active {
    .faq--icon {
      transform: scaleY(-1);
    }
  }
}
