// -----------------------------------------------------------------------------
// This file contains all styles related to the feature component.
// -----------------------------------------------------------------------------
.feature {
  .icon,
  .title {
    margin-bottom: 1em;
  }
  .title {
    margin-bottom: 0.5em;
  }
  &.is-center {
    .title,
    p {
      text-align: center;
    }
    .icon {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}
