// -----------------------------------------------------------------------------
// This file contains all styles related to the form component.
// -----------------------------------------------------------------------------
.input:focus,
.textarea:focus,
.select select:focus,
.is-focused.input,
.is-focused.textarea,
.select select.is-focused,
.input:active,
.textarea:active,
.select select:active,
.is-active.input,
.is-active.textarea,
.select select.is-active {
  border-color: lighten($color3, 50%);
  box-shadow: 0 0 0 0.125em rgba(lighten($color3, 50%), 0.5);
}

form {
  .field.field {
    margin-bottom: 1rem;
  }
  .columns.columns {
    margin-top: 0;
    margin-bottom: 0;
  }
  .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .checkbox {
    @extend .input;
    input {
      margin-right: 10px;
      margin-left: 8px;
    }
    height: auto;
    &:focus,
    &:active {
      border-color: lighten($color3, 50%);
      box-shadow: none;
    }
  }
  .button {
    margin-top: 1.4rem;
  }
}

form .is-hovered.checkbox,
.is-hovered.input,
.is-hovered.textarea,
.select select.is-hovered,
.input:hover,
form .checkbox:hover,
.textarea:hover,
.select select:hover {
  border-color: lighten($color3, 50%);
}
