.frame {
  border: 5px solid $dark;
  position: relative;
  display: block;
  box-shadow: 0 0 2.8rem 0 rgba($color3, 1);
  margin-bottom: 6rem;
  overflow: hidden;
  &--content {
    @extend .content;
    padding: 2rem 1rem;
  }
  &--img, img {
    display: block;
    img {
      display: block;
    }
  }
}
