.info-box {
  @extend .has-background-dark;
  display: flex;
  padding: 2rem;
  font-size: 1.2rem;
  position: sticky;
  top: 80px;
  &--content {
    @extend .content;
  }
  &--title {
    @extend .title;
    @extend .is-3;
    @extend .has-text-white;
  }
  &--address {
    @extend .has-text-white;
    font-style: normal;
  }
  &--text {
    @extend .has-text-white;
  }
  &--link {
    color: $light;
    &:hover {
      color: $grey-light;
    }
  }
}
