// -----------------------------------------------------------------------------
// This file contains all styles related to the work component.
// -----------------------------------------------------------------------------


.work-left > .columns {
  padding-right: 4rem;
  // @include until($tablet) {
  //   padding-right: 0;
  // }
}
.work-middle > .columns {
  padding-left: 2rem;
  padding-right: 2rem;
  // @include until($tablet) {
  //  padding-left: 0;
  //  padding-right: 0;
  // }
}
.work-right > .columns {
  padding-left: 4rem;
  // @include until($tablet) {
  //   padding-left: 0;
  // }
}
