// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  background-image: url('../assets/images/low-poly-white.opt.jpg');
  background-size: cover;
  background-position: 50% 50%;
  padding: 14rem 0 10rem 0;

  h1 {
    line-height: 1.25;
    margin-bottom: 0.4em;
  }

  span {
    margin-top: 1.8em;
  }

  .buttons {
    margin-top: 3em;
  }

  &.small {
    padding: calc(5.2rem + 40px) 0 5.2rem 0;

    .buttons {
      margin-top: 0.8em;
    }
  }

  @include until($fullhd) {
    padding: 12rem 0 10rem 0;
  }

  @include until($widescreen) {
    padding: 8rem 0 10rem 0;
  }

  @include until($desktop) {
    padding: 8rem 0 4rem 0;
  }

  @include until($tablet) {
    padding: 7rem 0 4rem 0;
  }

  overflow-x: hidden;

  #laptop {
    max-width: 850px;
    top: -100px;
    right: -110px;
    position: absolute;
  }

  #iphone-1 {
    position: absolute;
    max-width: 170px;
    right: 50px;
    top: -10px;
  }

  #iphone-2 {
    position: absolute;
    max-width: 210px;
    right: 140px;
    top: -30px;
  }

  @include until($fullhd) {
    #laptop {
      max-width: 800px;
      top: -50px;
    }

    #iphone-1 {
      max-width: 165px;
      top: 30px;
    }

    #iphone-2 {
      max-width: 200px;
      top: 10px;
    }
  }

  @include until($widescreen) {
    #laptop {
      max-width: 700px;
      top: 0;
    }

    #iphone-1 {
      max-width: 150px;
      top: 60px;
      right: 50px;
    }

    #iphone-2 {
      max-width: 180px;
      top: 40px;
      right: 90px;
    }
  }

  @include until($desktop) {
    .column:nth-child(2) {
      height: 320px;
    }

    #laptop {
      max-width: 600px;
      top: 210px;
      right: -50px;
    }

    #iphone-1 {
      max-width: 160px;
      top: 220px;
    }

    #iphone-2 {
      top: 210px;
    }
  }

  @include until($tablet) {
    .column:nth-child(2) {
      height: 320px;
    }

    #laptop {
      top: auto;
      bottom: 0;
    }

    #iphone-1 {
      top: auto;
      bottom: 10px;
    }

    #iphone-2 {
      top: auto;
      bottom: 10px;
    }
  }
}

@keyframes upDown {
  to {
    transform: translateY(10px);
  }
}

.header-reflection {
  position: absolute;
  top: 0;
  background-image: url('../assets/images/low-poly-white.opt.jpg');
  transform: scaleY(-1);
  background-size: cover;
  width: 100%;
  background-position: 50% 50%;
  opacity: 0.1;
}
