section,
.section {
  padding: 5em 0 10em 0;
  &.small {
    padding: 4em 0;
  }
  .header {
    margin-bottom: 3em;
    .pretitle {
      text-transform: uppercase;
      margin-bottom: 0.75em;
      letter-spacing: 1px;
    }
    .title {
      // margin-bottom: 2em;
    }
    &.is-center {
      .subtitle {
        margin-top: -1.25rem;
        text-align: center;
      }
      .title,
      .pretitle {
        text-align: center;
      }
    }
  }
  @include until($tablet) {
    padding: 2.5rem 0 5rem 0;
    &.small {
      padding: 2.2rem 0;
    }
  }
}
